*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
main div{
    background: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-transform: capitalize;
    }
#bgcolor{
    color: blue;
}

#bgbutton{
  margin-top: 20px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
#bgbutton:hover{
    color: chartreuse;
    background-color: black;
}